---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { title, noSectionWrapper = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph tags for Discord, Twitter, etc. -->
    <meta property="og:title" content="DrBenStoneSage" />
    <meta
      property="og:description"
      content="Creating games, immersive experiences, and strange worlds."
    />
    <meta
      property="og:image"
      content="https://drbenstonesage.ca/assets/preview.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://drbenstonesage.ca/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body>
    <Navbar />
    <div class="landscape-decor" aria-hidden="true">
      <img src="/assets/landscape.svg" alt="" />
    </div>
    {
      noSectionWrapper ? (
        <slot />
      ) : (
        <main class="page-section">
          <slot />
        </main>
      )
    }
  </body>
</html>
